* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: paleturquoise;
}

.logo {
    width: 23%;
}

.logo img {
    height: 100%;
}

.heading {
    width: 62%;
    text-align: center;
    line-height: 100px;
}

.other {
    /* flex: 1; */
    width: 15%;
    display: flex;
}

.other > li {
    padding: 34px 10px 34px 20px;
    list-style: none;
}

.admin-content {
    padding-top: 0px;
    display: flex;
    height: auto;
    min-height: calc(100vh - 100px);
    width: auto;
    min-width: 100vw;
}

.admin-content-left {
    background-color: bisque;
    width: 15%;
    padding: 30px 0 0 15px;
}

.admin-content-left ul li a {
    font-size: 24px;
}

.admin-content-left ul li ul a:hover {
    color: red;
}

.admin-content-left > ul > li > a {
    font-weight: bolder;
}

.admin-content-left > ul > li {
    margin: 10px 20px 40px 10px;
    border: 1px solid black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.admin-content-left ul ul {
    margin-left: 20px;
}

.admin-content-right {
    width: 85%;
    padding: 30px 0 0 15px;
    background-color: aliceblue;
}

/* CARTEGORY ADD */
.admin-content-right-cartegory-add input {
    height: 50px;
    width: 400px;
    padding-left: 15px;
    margin-top: 20px;
    font-size: 24px;
    display: block;
}

.admin-content-right-cartegory-add button {
    display: block;
    margin-top: 15px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

.admin-content-right-cartegory-add button:hover {
    opacity: 0.7;
}

/* CARTEGORY LIST */
.admin-content-right-cartegory-list table {
    width: calc(100% - 20px);
    text-align: center;
    margin: 20px 10px;
}

.admin-content-right-cartegory-list table tr th,td {
    border: 1px solid black;
    height: 100px;
    font-size: 24px;
}

/* PRODUCT ADD */
.admin-content-right-product-add input, select {
    height: 50px;
    width: 400px;
    padding-left: 15px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
}

.admin-content-right-product-add textarea {
    font-size: 20px;
    display: block;
    height: 200px;
    width: 500px;
}

.admin-content-right-product-add button {
    display: block;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

.admin-content-right-product-add button:hover {
    opacity: 0.7;
}

/* PRODUCT LIST */
.admin-content-right-product-list table {
    width: calc(100% - 50px);
    text-align: center;
    margin: 20px 10px;
}

.admin-content-right-product-list table tr th,td {
    border: 1px solid black;
    height: 100px;
    font-size: 20px;
}

/* ORDER LIST */
.admin-content-right-order-list table {
    width: calc(100% - 20px);
    text-align: center;
    margin: 20px 10px;
}

.admin-content-right-order-list table tr th,td {
    border: 1px solid black;
    height: 100px;
    font-size: 24px;
}

.admin-content-right-order-update input {
    height: 50px;
    width: 400px;
    padding-left: 15px;
    margin-top: 20px;
    font-size: 24px;
    display: block;
}

.admin-content-right-order-update button {
    display: block;
    margin-top: 15px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

.order-detail p {
    margin-left: 15px;
    margin-bottom: 10px;
}